layout {

    focus-ring {
        active-color   "#b1cff1"
        inactive-color "#151e29"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#b1cff1"
        inactive-color "#151e29"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#151e2970"
    }

    tab-indicator {
        active-color   "#b1cff1"
        inactive-color "#1f72d1"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#b1cff180"
    }
}

recent-windows {
    highlight {
        active-color "#b1cff1"
        urgent-color "#fd4663"
    }
}
